{% extends 'base.html' %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Book Hall</button>
    </form>
    <h2><br>Bookings yet to be approved</h2>
    {% for l in list %}
        {% if l.approval %}
        {% else %}
            <div class="panel-group">
                {% if l.hall1 %}
                    <div class="panel panel-default">
                        <div class="panel-body">Hall 1</div>
                    </div>
                {% elif l.hall2 %}
                    <div class="panel panel-default">
                        <div class="panel-body">Hall2</div>
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">{{ l.date }}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">{{ l.ftime }} to {{ l.ttime }}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">{{ l.purpose }}</div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <h2><br>Hall 1 is not available on the following Days</h2>
    {% for l in list %}
        {% if l.hall1 %}
            {% if l.approval %}
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">{{ l.date }} &nbsp;&nbsp;&nbsp;&nbsp; {{ l.ftime }} to {{ l.ttime }}</div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <h2><br>Hall 2 is not available on the following Days</h2>
    {% for l in list %}
        {% if l.hall2 %}
            {% if l.approval %}
                <div class="panel-group">
                  <div class="panel panel-default">
                        <div class="panel-body">{{ l.date }} &nbsp;&nbsp;&nbsp;&nbsp; {{ l.ftime }} to {{ l.ttime }}</div>
                  </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}